* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

heading2 {
    text-align: left;
    margin-left: 63px;
    text-transform: capitalize;
    color: rgb(107, 107, 107);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main2 {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 67, 67);
}

.row3 {
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    place-content: center;
}

.col2 {
    width: 65%;
    height: 250px;
    border: 1px solid white;
    text-align: left;
}

span {
    text-align: center;
    color: blue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-emphasis: bold;
    padding-left: 10px;
}

.line2 {
    text-align: center;
    color: rgb(2, 92, 29);
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 10px;
}

.line3 {
    text-align: center;
    color: grey;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 10px;
}